@using Domain.Entities
@using  Application.Services.StudentServices
@inject  IStudentService StudentService
@page "/STUDENT" 
<h2>Student</h2>
<table>
    <tr>
        <th>Id</th>
         <th>Name</th>
          <th>Phone</th>
           <th>Email</th>
    </tr>

    @foreach(var Student in Students)
         
         {
            <tr>
                <td>@Student.Id</td>
                 <td>@Student.Name</td>
                  <td>@Student.Phone</td>
                   <td>@Student.Email</td>
            </tr>

         } 
    
</table>
@code{
    private List<Student> Students= new List<Student>();

    protected override void OnInitialized()
    {
        Students=StudentService.GetAllStudent();
    }
}